/* Empty. Add your own CSS if you like */
img.aboutAs {
    float: left;
    margin: 5px 10px 10px 10px;
}

.redIcon {
    color: red;
}

.linkNoDecoration{
    text-decoration: none;
}

a.linkNoDecoration:active{
    background-color: black;
}

.eventsHeaderStyle {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px !important;
    padding-bottom: 0px;
}

.detailsItem {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
}

.profileImage{
    max-width: 100px !important;
    max-height: 100px !important;
}

.profilePaddingText {
    padding-left: 140px !important;
    min-height: 140px !important;
    border-color: transparent !important;
    padding-top: 0px;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
}

.backgroundColor {
	background-color: #F7F7F7;
}

.backgroundColor:active {
    background-color: #D9D9D9;
}
