<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{detail.Name}}">
  <ion-content lazy-scroll>
  	<div>
  		<a class="linkNoDecoration">
  			<div class="list card eventsHeaderStyle item-divider">

  				<div class="item">
  					<h2>{{detail.Name}}</h2>
  					<p>{{detail.Date | date:'dd MMMM yyyy'}}</p>
  					<p>Puncte: <b>{{detail.Points}}</b></p>
  				</div>

  				<div class="item item-body detailsItem">
  					<img class="full-image" image-lazy-src="{{detail.Image}}"
  						 image-lazy-loader="ios" image-lazy-distance-from-bottom-to-load="200" err-src="img/ic_photo.png">
  					<p class="padding">{{detail.Description}}</p>
  				</div>
  			</div>
  		</a>
    </div>

    <ion-list>
		    <ion-item class="item item-avatar item-icon-right" ng-repeat="vol in volunteers" href="#/tab/profile/{{vol.Id}}">
      		<img image-lazy-src="https://graph.facebook.com/{{vol.FacebookId}}/picture?type=small" err-src="img/ic_profile.png"
				      image-lazy-loader="ios" image-lazy-distance-from-bottom-to-load="200">
      		<h2>{{vol.Name}}</h2>
      		<p>Puncte: {{vol.Points}}</p>
      		<i class="icon ion-chevron-right icon-accessory"></i>
    	</ion-item>
    </ion-list>

  </ion-content>
</ion-view>
