<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
	<ion-nav-title>{{userDetails.Name}}</ion-nav-title>
  <ion-content lazy-scroll>
		  <div class="item item-avatar profilePaddingText">
			  <img class="profileImage" image-lazy-src="https://graph.facebook.com/{{userDetails.FacebookId}}/picture?type=normal"
				   err-src="img/ic_profile.png" image-lazy-loader="ios" image-lazy-distance-from-top-to-load="50">
			  <h2><b>{{userDetails.Name}}</b></h2>
			  <p><b><i>Puncte: {{userDetails.Points}}</i></b></p>
			  <p>Total evenimente: {{eventsForVolunteer.length}}</p>
		  </div>

    <ion-list>
			<ion-item class="item-remove-animate item item-thumbnail-left item-icon-right" ng-repeat="event in eventsForVolunteer"
					  type="item-text-wrap" href="#/tab/events/{{event.Id}}">
				<img image-lazy-src="{{event.Image}}" err-src="img/ic_photo.png" image-lazy-loader="ios" image-lazy-distance-from-bottom-to-load="200">
				<h2>{{event.Name}}</h2>
				<p>{{event.Date | date:'dd MMMM yyyy'}}</p>
				<p>{{event.Description}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
    </ion-list>


  </ion-content>
</ion-view>
