<ion-view view-title="Evenimente">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-ios-camera-outline button-clear" ng-click="scanBarcode()"></button>
  </ion-nav-buttons>
  <ion-content lazy-scroll>

    <div>
      <a class="linkNoDecoration" href="#/tab/events/{{first.Id}}">
        <div class="list eventsHeaderStyle item-divider">

          <div class="item backgroundColor">
            <h2>{{first.Name}}</h2>
            <p>{{first.Date | date:'dd MMMM yyyy'}}</p>
            <p>Puncte: <b>{{first.Points}}</b></p>
          </div>

          <div class="item item-body detailsItem backgroundColor">
          <img class="full-image" image-lazy-src="{{first.Image}}" err-src="img/ic_photo.png" image-lazy-loader="ios" image-lazy-distance-from-top-to-load="50">
            <p class="padding">{{first.Description}}</p>
          </div>
        </div>
      </a>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item item-thumbnail-left item-icon-right" ng-repeat="event in events" ng-show="!$first" type="item-text-wrap" href="#/tab/events/{{event.Id}}">
		<img image-lazy-src="{{event.Image}}" err-src="img/ic_photo.png" image-lazy-loader="ios" image-lazy-distance-from-bottom-to-load="200">
        <h2>{{event.Name}}</h2>
        <p>{{event.Date | date:'dd MMMM yyyy'}}</p>
        <p>{{event.Description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
