<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="Despre noi" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/aboutAs" badge-style="badge-positive">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Evenimente" icon-off="ion-map" icon-on="ion-map" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Profil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
